#Head{
    border: 2px solid;
    text-align: center;
    font-size: 4em;
    background-color: hsl(117, 100%, 35%);
    box-shadow: 1px 1px 5px;
    animation-name: Slide_Down;
    animation-play-state: running;
    animation-duration: 1s;
}

body{
    background-color: hsla(0, 0%, 4%, 0.685);
    color: white;
}

hr{
    margin: 0px;
}

@media(max-width: 221px)
{
    body{
        font-size: 14px;
    }
}

#Challenge input{
    transform: scale(2);
    margin: 10px 10px;
    cursor: pointer;
}


#My_Div{
    margin-left: 10px;
    font-size: 0.875rem;
}

#Task{
    text-align: center;
    font-size: 1.5rem;
    background-color: chartreuse;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    font-weight: bold;
}
.Timers{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    background-color: hsla(0, 0%, 74%, 0.685);
    border-radius: 0 0 10px 10px;
    margin: 10px;
    margin-top: 0px;
}

#Start{
    text-align: center;
    font-size: 1.5em;
    background-color: cyan;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

#Start:hover{
    background-color: hsl(180, 100%, 40%);
}

#Temp_Form input{
    transform: scale(2);
    margin: 10px 10px;
    cursor: pointer;
}

#Container{
    text-align: center;
}

#Choices_Form input{
    transform: scale(2);
    margin: 10px 10px;
    cursor: pointer;
}

#Stats_Div{
    margin: 5px;
    margin-left: 10px;
}

#Score_Div{
    position: absolute;
    text-align: center;
    margin-top: 20px;
    width: 40%;
    top: 1%;
    right: 2%;
    border-radius: 10px;
    background-color: orange;
}

#Score_Div h2{
    margin: 0;
}

.Menu_Buttons{
    font-size: 2em;
    margin: 0px;
    margin-left: 5px;
    width: fit-content;
    cursor: pointer;
}

#Menu{
    position: absolute;
    height: 90%;
    width: 75%;
    text-align: center;
    margin-top: 10px;
    top: 1%;
    left: 0%;
    background-color: chartreuse;
}

#Menu_Text{
    background-color: hsl(0, 100%, 99%, 0.90);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: hsl(0, 0%, 0%);
    display: block;
}

.Task_Menu{
    background-color: hsla(0, 100%, 99%, 0.75);
    text-align: left;
    font-size: 20px;
    padding: 10px;
    color: hsl(0, 0%, 0%);
    display: block;
    cursor: pointer;
}

#Active_Tasks_Selection{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(255, 149, 0);
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0 0;
}

.Active_Tasks{
    font-size: 1.5em;
    background-color: lime;
    display: block;
}

#Grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    gap: 10px;
}

.Grid_Items{
    text-align: center;
    align-items: center;
    font-size: 1.25em;
    background-color: hsla(0, 0%, 52%, 0.685);
    overflow: hidden;
    color: white;
    border-radius: 5px;
}

.Start_Buttons{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    background-color: cyan;
    cursor: pointer;
}

.Animate_Left{
    animation-name: Slide_Left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: normal;
}

.Animate_Right{
    animation-name: Slide_Right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}



@keyframes Slide_Left{
    from{transform: translateX(-100%);}
}

@keyframes Slide_Right{
    to{transform: translateX(-100%);}
}

@keyframes Slide_Down{
    from{transform: translateY(-100px);}
}
