h1{
    border: 2px solid;
    text-align: center;
    font-size: 4em;
    background-color: hsl(117, 100%, 35%);
    box-shadow: 1px 1px 5px;
    animation-name: Slide_Down;
    animation-play-state: running;
    animation-duration: 1s;
}

body{
    background-color: hsla(0, 0%, 4%, 0.685);
    color: white;
}

@media(max-width: 768px)
{
    body{
        font-size: 14px;
    }
}

#Challenge input{
    transform: scale(2);
    margin: 10px 10px;
    cursor: pointer;
}


#My_Div{
    font-size: 0.875rem;
}

#Task{
    text-align: center;
    font-size: 2rem;
    background-color: chartreuse;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    font-weight: bold;
}
.Timers{
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    background-color: hsla(0, 0%, 74%, 0.685);
    border-radius: 0 0 10px 10px;
    margin: 10px;
    margin-top: 0px;
}

#Start{
    text-align: center;
    font-size: 1.5em;
    background-color: cyan;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

#Start:hover{
    background-color: hsl(180, 100%, 40%);
}

#Temp_Form input{
    transform: scale(2);
    margin: 10px 10px;
    cursor: pointer;
}

#Container{
    text-align: center;
}


#Choices_Form input{
    transform: scale(2);
    margin: 10px 10px;
    cursor: pointer;
}

@keyframes Slide_Down{
    from{transform: translateY(-100px);}
}
